<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="master.css">
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title></title>
  </head>
  <body>
    <div id="container">

      <div id="contacts">
        <div class="logo">
          <img :src="logo" alt="immagine logo">
        </div>
        <div class="search">
          <i class="fas fa-search"></i>
          <input type="text" v-model='searchName' placeholder="Cerca contato...">
        </div>
        <div class="all-contacts">
          <ul>                <!-- // bug da risolvere -->
            <li v-for='(contact,ind) in searchContact ' @click='viewMsg(ind)'>
              <div class="img-contact">
                <img :src="contact.avatar" alt="immagine utente">
              </div>
              {{contact.name}}
            </li>
          </ul>
        </div>
      </div>

      <div id="messages">
        <ul>
          <li class="message" v-for='msg in contacts[indContact].messages' :class='(msg.status == "sent") ? "right":""'>

            <p :class="msg.status">{{msg.text}}</p>

          </li>
        </ul>
        <div class="write">
          <i id="clip" class="fas fa-paperclip"></i>
          <div class="cont-input">
            <input type="text" placeholder="Scrivi un messaggio..." v-model='newMsg.text' @keyup.13='send'>
            <i id="send" class="fas fa-location-arrow" @click='send'> </i>
          </div>
          <i id="mic" class="fas fa-microphone"></i>
        </div>
      </div>
    </div>
  </body>
</html>
