/* generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 12px;
}

#container{
  width: 80vw;
  height: 70vh;
  margin: auto;
  margin-top: 125px;
  display: flex;
  border: 1px solid black;
}

ul{
  list-style: none;
}

i{
  cursor: pointer;
}

/* contacts */
#contacts{
  width: 450px;
  height: 100%;
}
.logo{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo img{
  width: 200px;
  height: auto;
}
.all-contacts{
  width: 100%;
  height: calc(100% - 130px);
  overflow-y: scroll;
}
.search{
  height: 50px;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.search i{
  font-size: 1.5rem;
  padding: 3px 20px;
}
.search input{
  width: 70%;
  border: none;
}
.all-contacts ul li{
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  font-size: 1.1rem;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.img-contact img{
  width: 30px;
  height: auto;
  margin-right: 10px;
  border-radius: 100%;
}

/* messages */
#messages{
  width: calc(100vw - 450px);
  height: 100%;
  position: relative;
  border-left: 1px solid black;
  overflow-y: scroll;
}

.sent,
.received{
  padding: 7px;
  border-radius: 20px;
}
/* ricevuti */
.received{
  background-color: grey;
  color:white;
  margin-left: 15px;
}
/* inviati */
.sent{
  background-color: green;
  color: white;
  margin-right: 15px;
}
.right{
  justify-content: flex-end;
}
/* contenitore messaggi */
.message{
  display: flex;
  align-items:center;
  height: 40px;
}

/*input messaggio  */
.write,
.cont-input{
  height: 60px;
  display: flex;
  align-items: center;
}
.write{
  width: 100%;
  justify-content: space-between;
  position:absolute;
  bottom:0;
  margin-bottom: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: lightgrey;
}
.cont-input{
  flex-grow: 1;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.cont-input input{
  width: 85%;
  height: 35px;
  font-size: 1.2rem;
  padding-left: 10px;
  border-radius: 20px;
}

#clip{
  font-size: 2rem;
  margin-left: 50px;
  transform: rotate(-45deg);
}
#mic{
  font-size: 2rem;
  padding-right: 50px;
}
.cont-input i{
  font-size: 2rem;
  padding: 0 20px;
  transform: rotate(45deg);
}
