/* generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 12px;
}

#container{
  width: 80vw;
  height: 70vh;
  margin: auto;
  margin-top: 125px;
  display: flex;
  border: 1px solid black;
}

ul{
  list-style: none;
}

i{
  cursor: pointer;
}
#messages p{
  font-size: 1rem;
}
.date{
  font-size: 0.7rem;
}
.fa-chevron-down{
  color: darkgrey;
}

/* contacts */
#contacts{
  width: 450px;
  height: 100%;
  background-color: rgba(255, 230, 230,0.4);
}
.profile{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile img{
  width: 50px;
  height: auto;
  margin-left: 15px;
  border-radius: 100%;
}
.profile h1{
  margin-left: 10px;
}
.headerContact{
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(242, 242, 242, 1);
}
.header-left-icons i{
  margin: 0 10px;
  font-size: 1rem;
}
.all-contacts{
  width: 100%;
  height: calc(100% - 130px);
  overflow-y: scroll;
}
.search{
  height: 50px;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.search i{
  font-size: 1.5rem;
  padding: 3px 20px;
}
.search input{
  width: 70%;
  border: none;
  background-color: rgba(255, 230, 230,0.4);
}
.all-contacts ul li{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  font-size: 1.1rem;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.contactName{
  display: flex;
  align-items: center;
}
.img-contact img{
  width: 30px;
  height: auto;
  margin-right: 10px;
  border-radius: 100%;
}
.lastMsg{
  font-size: 0.8rem;
  align-self: flex-end;
}

/* messages */
#messages img{
  width: 50px;
  height: auto;
  margin: 0 20px;
  border-radius: 100%;
}
#messages{
  width: calc(100vw - 450px);
  height: 100%;
  position: relative;
  border-left: 1px solid black;
  position: relative;
  background-image: url(img/chatBackground.png);
}

/* header messaggi */
.headerMsg{
  width: 100%;
  height: 75.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
  background-color: rgba(242, 242, 242, 0.8);
}
.contact{
  display: flex;
  align-items: center;
}
.headerMsgIcons i{
  margin: 0 15px;
}
.headerMsgIcons i:last-child{
  margin-right: 35px;
}
/* se non ci sono messaggi */
.background-else{
  background: linear-gradient(0.10turn, #00FFFF, #008000, #00FFFF);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
}
.background-else .logo{
  background-color: transparent;
}
.background-else .logo img{
  width: 400px;
  height: auto;
}
  /* messaggi */
#messages ul{
  width: 100%;
  height: calc(100% - 150px);
}
/* scroll messaggi */
#chat{
  overflow-y: scroll;
}
/* style messaggi */
.sent,
.received{
  display: flex;
  padding: 7px;
  border-radius: 10px;
}
#textSend,
#textRecv{
  max-width: 420px;
  word-break: break-all;
}

.hover-menu{
  display: none;
  height: 70px;
  color: black;
  position: absolute;
  top:50px;
}
.show.hover-menu{
  display: block ;
}
.info,
.delete{
  width: 100px;
  height: 35px;
  line-height: 35px;
  padding-left: 5px;
  background-color: #ffff;
}
.info{
  border-bottom: 1px solid black;
}
/* ricevuti */
.received{
  position: relative;
  flex-direction: column;
  background-color: grey;
  color:white;
  margin-left: 15px;
}
.received .fa-chevron-down{
  margin-top: 10px;
}
.received .date{
  align-self: flex-start;
  margin-top: 8px;
}
/* inviati */
.sent{
  position: relative;
  flex-direction: column;
  background-color: green;
  color: white;
  margin-right: 15px;
}
.right{
  justify-content: flex-end;
}
.sent .fa-chevron-down{
  align-self: flex-end;
  margin-top: 15px;
}
.sent .date{
  align-self: flex-end;
  margin-top: 8px;
}
/* contenitore messaggi */
.message{
  display: flex;
  align-items:center;
  min-height: 40px;
  margin: 20px 0;
}
/*input messaggio  */
.write,
.cont-input{
  height: 60px;
  display: flex;
  align-items: center;
}
.write{
  width: 100%;
  justify-content: space-between;
  position:absolute;
  bottom:0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgba(242, 242, 242, 1);
}
.cont-input{
  flex-grow: 1;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.cont-input input{
  width: 85%;
  height: 35px;
  font-size: 1.2rem;
  padding-left: 10px;
  border-radius: 10px;
}
/* icone input */
#clip{
  font-size: 2rem;
  margin-left: 50px;
  transform: rotate(-45deg);
}
#mic{
  font-size: 2rem;
  padding-right: 50px;
}
.cont-input i{
  font-size: 2rem;
  padding: 0 20px;
  transform: rotate(45deg);
}
